build/news.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <title>ВМЗ</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="search">
          <div class="container">
            <div class="title">Поиск</div>
            <form class="search__form">
              <input class="search__input" type="text" placeholder="Поиск...">
              <button class="search__submit"></button>
            </form>
          </div>
        </div>
        <div class="container">
          <div class="header__row"><a class="logo" href="/"><img src="/img/icons/logo.svg"></a>
            <div class="company-name">Выборгский Машиностроительный Завод</div><a class="tel" href="tel:+7 (911) 242-30-64">+7 (911) 242-30-64</a>
          </div>
          <div class="header__nav">
            <nav class="main-nav">
              <ul>
                <li><a href="javascript:;">Продукция</a></li>
                <li><a href="javascript:;">Услуги</a></li>
                <li><a href="javascript:;">О заводе</a></li>
                <li><a href="javascript:;">Контакты</a></li>
              </ul>
            </nav><a class="search-btn" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="77.703" height="76.96" viewBox="0 0 77.703 76.96"><path d="M56.488 47.362c4.945 4.62 9.836 9.097 14.61 13.695 1.905 1.838 3.856 3.76 5.234 5.984 1.662 2.687 2.243 5.98-.763 8.086-2.778 1.945-6.1 2.873-9.155.066-5.643-5.18-11.37-10.275-16.863-15.61-2.088-2.028-3.62-2.34-6.43-1.075-16.102 7.25-34.125-.174-40.917-16.57-6.34-15.304 1.503-33.687 16.95-39.72C35.602-4.205 53.586 3.77 59.532 20.346c3.343 9.32 2.084 18.35-3.045 27.017zM31.023 11.035c-10.686-.063-19.46 8.478-19.647 19.128-.192 10.865 8.542 19.862 19.36 19.946 10.6.08 19.508-8.586 19.693-19.16.19-10.847-8.584-19.85-19.407-19.915z"/></svg></a><a class="download" href="">Каталог продукции ВМЗ</a>
          </div>
        </div>
      </header>
      <main class="maincontent">
        <section class="article">
          <div class="container">
            <div class="content__wrap">
              <div class="content">
                <div class="title">Пресса о нас<a class="all-btn" href="javascript:;">Читать все</a></div>
                <ul class="news__list">
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-1.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода</span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-2.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод, созданный на базе Выборгского </span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-3.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод</span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-1.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода</span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-2.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод, созданный на базе Выборгского </span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-3.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод</span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-1.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода</span></div></a></li>
                  <li class="news__item"><a class="news__link" href="javascript:;">
                      <div class="news__img" style="background-image:url('/img/bg/img-2.png')"></div>
                      <div class="news__date">4 июля 2016</div>
                      <div class="news__title"><span>Выборгский Машиностроительный Завод, созданный на базе Выборгского </span></div></a></li>
                </ul>
                <div class="pagination"><a class="prev page-numbers" href="javascript:;"></a><a class="page-numbers" href="javascript:;">1</a><a class="page-numbers current" href="javascript:;">2</a><a class="page-numbers" href="javascript:;">13</a><a class="page-numbers" href="javascript:;">14</a><a class="page-numbers" href="javascript:;">5</a><a class="next page-numbers" href="javascript:;"></a>
                </div>
              </div>
              <aside class="aside">
                <div class="subtitle">О заводе</div>
                <ul class="aside__list">
                  <li><a href="javascript:;">История</a></li>
                  <li><a href="javascript:;">Станочный парк</a></li>
                  <li><a href="javascript:;">Территория</a></li>
                  <li><a href="javascript:;">Сертификаты</a></li>
                  <li><a href="javascript:;">Пресса о нас</a></li>
                </ul>
              </aside>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__left"><a class="logo" href="/"><img src="/img/icons/logo.svg"></a>
          <p class="copyright">ООО «Выборгский машиностроительный завод»</p>
        </div>
        <div class="footer__middle">
          <nav class="main-nav">
            <ul>
              <li><a href="javascript:;">Продукция</a></li>
              <li><a href="javascript:;">Услуги</a></li>
              <li><a href="javascript:;">О заводе</a></li>
              <li><a href="javascript:;">Контакты</a></li>
            </ul>
          </nav><a class="download" href="">Каталог продукции ВМЗ</a>
        </div>
        <div class="footer__right"><a class="tel" href="tel:+7 (911) 242-30-64">+7 (911) 242-30-64</a>
          <address class="address">
            <p>Ленинградская область,</p>
            <p>г. Выборг, Приморское шоссе, 2Б</p>
          </address><a class="mail" href="mailto:info@vibmash.com">info@vibmash.com</a>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <p>© 2016 ООО «ВМЗ»<a href="javascript:;">Политика конфиденциальности</a></p><a class="itloft" href="javascript:;"><img src="/img/icons/itloft_logo.svg" alt="itloft"></a>
        </div>
      </div>
    </footer>
    <script src="/js/vendor/vendor.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>

assets/templates/news.pug
extend ./_includes/_layout

block main
  section.article
    .container
      .content__wrap
        .content
          .title Пресса о нас
            a(href="javascript:;").all-btn Читать все
          ul.news__list
            +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
            +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')
            +news('3', 'Выборгский Машиностроительный Завод')
            +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
            +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')
            +news('3', 'Выборгский Машиностроительный Завод')
            +news('1', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского Судостроительного Завода')
            +news('2', 'Выборгский Машиностроительный Завод, созданный на базе Выборгского ')


          .pagination
            a(href="javascript:;" class="prev page-numbers")
            each item, n in ['1', '2', '13', '14', '5']
              a(href="javascript:;" class="page-numbers" + ((n == 1) ? ' current' : ""))=item
            a(href="javascript:;" class="next page-numbers")


        +aside('О заводе', ['История', 'Станочный парк', 'Территория', 'Сертификаты', 'Пресса о нас'])
