assets/templates/type.pug
extend ./_includes/_layout

block main
  section.banner
    div(class="banner__block" style="background-image:url('/img/bg/bg-2.png')")
      .container
        .banner__text Панели палубные композитные ППКВ

  section.section
    .container
      .content__wrap
        .content
          .text
            p Панели палубные композитные — «плавающие полы» предназначены для судовых помещений (жилых, служебных, общественных), в качестве огнестойких, шумопоглащающих, виброснижающих и дымонепроницаемых покрытий. Используются на судах, кораблях и плавсредствах различных классов и назначений с неограниченным районом плавания.
            p Категория климатического исполнения панелей — 4.
            p Панель палубная композитная представляет собой прямоугольную конструкцию, типа «сэндвич», которая состоит из стальной панели марки Ст3 или Ст08, толщина листа 3мм и негорючей, минеральной теплоизоляционной плиты типа PAROC (Marine Floor Slab) или Rockwool (SeaRox SL) толщина теплоизоляции 50 мм. Возможно использования аналогичного наполнителя. Стальная панель по всем торцам имеет отогнутые вниз фланцы. Детали конструкции соединяются при помощи универсального клея.
            p Панели укладываются на палубном перекрытии класса «А». Панели являются огнестойкой конструкцией класса «А-60». При укладке панелей, допускается подрезать до требуемых размеров по наружным сторонам настила.
          table.table
            caption Таблица типоразмеров панелей
            +hrow(['Модель', 'Длина, мм', 'Ширина, мм', 'Высота, мм'])
            +row(['ППКВ01', '1198', '585', '53'])
            +row(['ППКВ02', '1976', '476', '53'])
            +row(['ППКВ01', '1198', '585', '53'])
            +row(['ППКВ02', '1976', '476', '53'])

          .slider
            ul.slider__list
              each item in ['1', '2', '3', '4', '5']
                li(class="slider__item" style="background-image:url('/img/bg/img-"+ item +".png');")



        +aside('Продукция', ['Крышки ВГН', 'Плавающие полы', 'Металлические таблички и шильды', 'Ящики ЗИП', 'Кабельные лестницы и лотки', 'Воздушные головки', 'Расширительные котлы', 'Расширительные котлы', 'Металлические таблички и шильды', 'Ящики ЗИП', 'Кабельные лестницы и лотки', 'Воздушные головки', 'Расширительные котлы'])

build/type.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <title>ВМЗ</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="search">
          <div class="container">
            <div class="title">Поиск</div>
            <form class="search__form">
              <input class="search__input" type="text" placeholder="Поиск...">
              <button class="search__submit"></button>
            </form>
          </div>
        </div>
        <div class="container">
          <div class="header__row"><a class="logo" href="/"><img src="/img/icons/logo.svg"></a>
            <div class="company-name">Выборгский Машиностроительный Завод</div><a class="tel" href="tel:+7 (911) 242-30-64">+7 (911) 242-30-64</a>
          </div>
          <div class="header__nav">
            <nav class="main-nav">
              <ul>
                <li><a href="javascript:;">Продукция</a></li>
                <li><a href="javascript:;">Услуги</a></li>
                <li><a href="javascript:;">О заводе</a></li>
                <li><a href="javascript:;">Контакты</a></li>
              </ul>
            </nav><a class="search-btn" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="77.703" height="76.96" viewBox="0 0 77.703 76.96"><path d="M56.488 47.362c4.945 4.62 9.836 9.097 14.61 13.695 1.905 1.838 3.856 3.76 5.234 5.984 1.662 2.687 2.243 5.98-.763 8.086-2.778 1.945-6.1 2.873-9.155.066-5.643-5.18-11.37-10.275-16.863-15.61-2.088-2.028-3.62-2.34-6.43-1.075-16.102 7.25-34.125-.174-40.917-16.57-6.34-15.304 1.503-33.687 16.95-39.72C35.602-4.205 53.586 3.77 59.532 20.346c3.343 9.32 2.084 18.35-3.045 27.017zM31.023 11.035c-10.686-.063-19.46 8.478-19.647 19.128-.192 10.865 8.542 19.862 19.36 19.946 10.6.08 19.508-8.586 19.693-19.16.19-10.847-8.584-19.85-19.407-19.915z"/></svg></a><a class="download" href="">Каталог продукции ВМЗ</a>
          </div>
        </div>
      </header>
      <main class="maincontent">
        <section class="banner">
          <div class="banner__block" style="background-image:url('/img/bg/bg-2.png')">
            <div class="container">
              <div class="banner__text">Панели палубные композитные ППКВ</div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="content__wrap">
              <div class="content">
                <div class="text">
                  <p>Панели палубные композитные — «плавающие полы» предназначены для судовых помещений (жилых, служебных, общественных), в качестве огнестойких, шумопоглащающих, виброснижающих и дымонепроницаемых покрытий. Используются на судах, кораблях и плавсредствах различных классов и назначений с неограниченным районом плавания.</p>
                  <p>Категория климатического исполнения панелей — 4.</p>
                  <p>Панель палубная композитная представляет собой прямоугольную конструкцию, типа «сэндвич», которая состоит из стальной панели марки Ст3 или Ст08, толщина листа 3мм и негорючей, минеральной теплоизоляционной плиты типа PAROC (Marine Floor Slab) или Rockwool (SeaRox SL) толщина теплоизоляции 50 мм. Возможно использования аналогичного наполнителя. Стальная панель по всем торцам имеет отогнутые вниз фланцы. Детали конструкции соединяются при помощи универсального клея.</p>
                  <p>Панели укладываются на палубном перекрытии класса «А». Панели являются огнестойкой конструкцией класса «А-60». При укладке панелей, допускается подрезать до требуемых размеров по наружным сторонам настила.</p>
                </div>
                <table class="table">
                  <caption>Таблица типоразмеров панелей</caption>
                  <tr>
                    <th>Модель</th>
                    <th>Длина, мм</th>
                    <th>Ширина, мм</th>
                    <th>Высота, мм</th>
                  </tr>
                  <tr>
                    <td>ППКВ01</td>
                    <td>1198</td>
                    <td>585</td>
                    <td>53</td>
                  </tr>
                  <tr>
                    <td>ППКВ02</td>
                    <td>1976</td>
                    <td>476</td>
                    <td>53</td>
                  </tr>
                  <tr>
                    <td>ППКВ01</td>
                    <td>1198</td>
                    <td>585</td>
                    <td>53</td>
                  </tr>
                  <tr>
                    <td>ППКВ02</td>
                    <td>1976</td>
                    <td>476</td>
                    <td>53</td>
                  </tr>
                </table>
                <div class="slider">
                  <ul class="slider__list">
                    <li class="slider__item" style="background-image:url('/img/bg/img-1.png')"></li>
                    <li class="slider__item" style="background-image:url('/img/bg/img-2.png')"></li>
                    <li class="slider__item" style="background-image:url('/img/bg/img-3.png')"></li>
                    <li class="slider__item" style="background-image:url('/img/bg/img-4.png')"></li>
                    <li class="slider__item" style="background-image:url('/img/bg/img-5.png')"></li>
                  </ul>
                </div>
              </div>
              <aside class="aside">
                <div class="subtitle">Продукция</div>
                <ul class="aside__list">
                  <li><a href="javascript:;">Крышки ВГН</a></li>
                  <li><a href="javascript:;">Плавающие полы</a></li>
                  <li><a href="javascript:;">Металлические таблички и шильды</a></li>
                  <li><a href="javascript:;">Ящики ЗИП</a></li>
                  <li><a href="javascript:;">Кабельные лестницы и лотки</a></li>
                  <li><a href="javascript:;">Воздушные головки</a></li>
                  <li><a href="javascript:;">Расширительные котлы</a></li>
                  <li><a href="javascript:;">Расширительные котлы</a></li>
                  <li><a href="javascript:;">Металлические таблички и шильды</a></li>
                  <li><a href="javascript:;">Ящики ЗИП</a></li>
                  <li><a href="javascript:;">Кабельные лестницы и лотки</a></li>
                  <li><a href="javascript:;">Воздушные головки</a></li>
                  <li><a href="javascript:;">Расширительные котлы</a></li>
                </ul>
              </aside>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__left"><a class="logo" href="/"><img src="/img/icons/logo.svg"></a>
          <p class="copyright">ООО «Выборгский машиностроительный завод»</p>
        </div>
        <div class="footer__middle">
          <nav class="main-nav">
            <ul>
              <li><a href="javascript:;">Продукция</a></li>
              <li><a href="javascript:;">Услуги</a></li>
              <li><a href="javascript:;">О заводе</a></li>
              <li><a href="javascript:;">Контакты</a></li>
            </ul>
          </nav><a class="download" href="">Каталог продукции ВМЗ</a>
        </div>
        <div class="footer__right"><a class="tel" href="tel:+7 (911) 242-30-64">+7 (911) 242-30-64</a>
          <address class="address">
            <p>Ленинградская область,</p>
            <p>г. Выборг, Приморское шоссе, 2Б</p>
          </address><a class="mail" href="mailto:info@vibmash.com">info@vibmash.com</a>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <p>© 2016 ООО «ВМЗ»<a href="javascript:;">Политика конфиденциальности</a></p><a class="itloft" href="javascript:;"><img src="/img/icons/itloft_logo.svg" alt="itloft"></a>
        </div>
      </div>
    </footer>
    <script src="/js/vendor/vendor.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
